@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
  --color-wedding-sage-dark: #66745A;
  --color-wedding-sage-light: #9CA68F;
  --color-wedding-blush-dark: #DBAAB0;
  --color-wedding-blush-light: #F4D3D7;
  --color-wedding-cream: #F8F8F8;
}

body {
  background-color: var(--color-wedding-cream);
  color: var(--color-wedding-sage-dark);
  font-family: var(--font-sans), sans-serif;
}